html
  head
    <link rel="stylesheet" href="css\main.css">
  body
    .menuFlex
      .menuItem
        a(href='calculator.html') КАЛЬКУЛЯТОР КОРМА
      .menuItem
        a(href='index.html')
          img(src='img/red-paw.png')
        a(href='index.html') SMALL KORM
      .menuItem
        a(href='korm_list.html') СПИСОК КОРМОВ
    .afd Суточное количество
    .kps Узнайте идеальный размер порции корма 
    .kps для Вашей собаки
    .cal_list Выберите корм:
      form
        select(name='food')
          option(value='0') Grandorf
          option(value='1') Savarra
          option(value='2') Now fresh
          option(value='3') Go!
          option(value='4') Pro plan
          option(value='5') Belcando
          option(value='6') Landor
          option(value='7') Wolfsblut
          option(value='8') One only
          option(value='9') Advance
          option(value='10') Brit
          option(value='11') 1st Choice
          option(value='12') Farmina N D
          option(value='13') Acana
          option(value='14') Bosch
          option(value='15') Monge
          option(value='16') Eukanuba
          option(value='17') Orijen
          option(value='18') Abba
          option(value='19') Hills
          option(value='20') Dog chow
          option(value='21') Pedigree
          option(value='22') Darsi
          option(value='23') Royal Canin
          option(value='24') Sirius
          option(value='25') Родные корма
          option(value='26') Crave
          option(value='27') Savita
          option(value='28') TiTBiT
          option(value='29') Наша марка
          option(value='30') Elato
          option(value='31') Organix
          option(value='32') Delicana Premium
          option(value='33') Каждый день
          option(value='34') Blitz
          option(value='35') Дилли
          option(value='36') Холка
          option(value='37') Natural trainer
          option(value='38') Happy dog
          option(value='39') Оскар
          option(value='40') Флорида
          option(value='41') Winner Мираторг
          option(value='42') Chammy
          option(value='43') Mr.BUFFALO
          option(value='44') Clan classic
          option(value='45') AlphaPet
          option(value='46') Nero Gold
          option(value='47') Best Dinner
          option(value='48') Gemon
          option(value='49') Зоогурман
    .count_text Введите вес Вашей собаки:
      input(type='text')
    .count
      form
      input(type='button', value='РАССЧИТАТЬ')
    .af Суточное количество:
    .input
      form
      input(type='text', readonly='')
      img(src='img/bowll.png')