html
	head
		<link rel="stylesheet" href="css\main.css">
	body
		.menuFlex
			.menuItem
				a(href='calculator.html') КАКЛЬКУЛЯТОР КОРМА
			.menuItem
				a(href='index.html')
					img(src='img/red-paw.png')
				a(href='index.html') SMALL KORM
			.menuItem
				a(href='korm_list.html') СПИСОК КОРМОВ
		.centerBlock
			.mainGrid
				.first
					img(src='img/sd1.jpeg')
				.second
					img(src='img/sd6.jpg')
				.third
					img(src='img/sweet.png')
				.fourth
					img(src='img/sd2.jpg')
				.fifth
					img(src='img/hillspet.png')
				.sixth 
					img(src='img/sd12.jpg')
				.seventh ТАКОЙ МАЛЕНЬКИЙ, А ТАКОЙ ПРОЖОРЛИВЫЙ?
				.eighth
					img(src='img/baul.png')
				.ninth
					img(src='img/russkiy-toy.jpg')
				.tenth
					img(src='img/Wolfsblut.png')
			.textRedFlex
				.textFlex.
					Если ваш питомец именно такой, то этот сайт для вас. 
					Здесь вы можете найти информацию о различных марках кормов для собак маленьких пород. 
			.textGreenFlex
				.textFlex.
					Метаболизм у декоративных пород собак особенный.
					Кормить мелких собак необходимо часто и понемногу. Кормление «человеческой» 
					едой ни к чему хорошему не приводит. Питомец начинает переедать, болеть, 
					становится вялым. Ветеринары рекомендуют приобретать для маленьких собак специальные корма.	
			h1 Что самое главное в корме? Конечно, состав и цена.				
			p.main.
				Если в корме низкое содержание мяса, то он считается некачественным. Как и корм, в который мясо входит в состав в сомнительном виде, например, в виде муки.
				Что самое главное в корме? Конечно, состав и цена.
				Если в корме низкое содержание мяса, то он считается некачественным. Как и корм, в который мясо входит в состав в сомнительном виде, например, в виде муки.
				Если ориентироваться на соотношение белков, жиров и углеводов, то нужно убедиться, что белок в корме имеет приемущественно животное происхождение. Пшеница и кукуруза 
				считаются плохими зерновыми для собак. Они плохо усваиваются и затрудняют процесс пищеварения питомца. Если у вашей собаки аллергия на какой-то ингридиент, то 
				придется тщательно просматривать состав каждой упаковки.
				Конечно, все бы мы хотели кормить наших любимцев только самым лучшим кормом, 
				но не все могут позволить себе безаллергенный корм премиум-класса. 		
				На сайте вы сможете отфильтровать различные корма по 
				цене и качеству и подобрать идеальный именно для вас!
				Посмотрев состав, вы сразу поймете, какие корма вам подходят, а какие - нет.
				Также у нас есть калькулятор, чтобы вы смогли
				рассчитать, сколько граммов корма нужно вашему
				питомцу в сутки.