html
  head
    <link rel="stylesheet" href="css\main.css">
  body
    .menuFlex
      .menuItem
        a(href='calculator.html') КАКЛЬКУЛЯТОР КОРМА
      .menuItem
        a(href='index.html')
          img(src='img/red-paw.png')
        a(href='index.html') SMALL KORM
      .menuItem
        a(href='korm_list.html') СПИСОК КОРМОВ
    .flexButton
      .list ЦЕНА:
        form
          <input type="radio" name="sort-price" value="hight">по возрастанию
          <input type="radio" name="sort-price" value="low">по убыванию
      .list СОДЕРЖАНИЕ МЯСА:
        form
          <input type="radio" name="sort-meet" value="hight">по возрастанию
          <input type="radio" name="sort-meet" value="low">по убыванию
      .list ИСКЛЮЧИТЬ:
        form
          <input type="text" name="ingridient">
        form
          <input type="button" value="ПОКАЗАТЬ" id="list_buttom">
    table
      tr
        th
        th НАЗВАНИЕ КОРМА
        th СОСТАВ
        th ПРОЦЕНТ СОДЕРЖАНИЯ МЯСА
        th ЦЕНА ЗА КИЛОГРАММ
      tr
        td
          img(src='img/Grandorf.jpg')
        td Grandorf
        td
          ul
            li Дегидрированное мясо индейки, утки, кролика, ягнёнка;
            li цельный бурый рис;
            li свежее мясо индейки и мясо лосося;
            li жир индейки;
            li семя льна;
            li пищевые волокна;
            li сушёный цикорий;
            li пивные дрожжи;
            li сушёный Антарктический криль;
            li сушёное яблоко;
            li сушёная клюква;
            li Юкка Шидигера;
            li живые пробиотики.
        td 60
        td 995
      tr
        td
          img(src='img/Savarra.jpg')
        td Savarra
        td
          ul
            li Мясо индейки, утки;
            li говядина;
            li овощи;
            li витамины, минералы.
        td 77
        td 1003
      tr
        td
          img(src='img/Now_fresh.jpg')
        td Now fresh
        td
          ul 
            li Мясо домашней птицы (кроме курицы), лосося;
            li cвежие фрукты;
            li ягоды;
            li овощи (горох, чечевица, тыква, водоросли, морковь);
            li витамины (йод, кислоты Омега) и микроэлементы.
        td 65
        td 1375
      tr
        td
          img(src='img/Go.jpg')
        td Go!
        td
          ul 
            li Мясо домашней птицы (кроме курицы);
            li говядина;
            li лосось;
            li фрукты;
            li овощи;
            li полезные травы;
            li минералы и витамины.
        td 47
        td 1046
      tr
        td
          img(src='img/Pro_plan.jpg')
        td Pro plan серия PRONATURE
        td
          ul 
            li Мясо (в основном — утка);
            li фрукты;
            li овощи;
            li пряные травы;
            li специи;
            li жиры;
            li витамины и минералы.
        td 50
        td 837
      tr
        td
          img(src='img/Belcando.jpg')
        td Belcando серия FINEST CROC
        td
          ul
            li Cухое мясо утки;
            li рис или овес;
            li утиный жир;
            li мука;
            li мука океанической сельди;
            li печень утки;
            li дрожжи пивные;
            li яичный порошок;
            li травы (крапива, золототысячник, корень горечавки, ромашка, фенхель и т.д).
        td 32
        td 945
      tr
        td
          img(src='img/Landor.jpg')
        td Landor
        td
          ul 
            li Мясо ягненка;
            li утиный жир;
            li рис;
            li лосось;
            li овощи;
            li пивные дрожжи;
            li витамины и минералы.
        td 65
        td 623
      tr
        td
          img(src='img/Wolfsblut.png')
        td Wolfsblut
        td
          ul 
            li Индейка;
            li тыква;
            li жир индейки;
            li пастернак;
            li горох;
            li помидоры;
            li душистые травы;
            li бузина;
            li черноплодная рябина;
            li лекарственные травы (крапива, одуванчик, боярышник, экстракты женьшеня и Юкки).
        td 38
        td 1078
      tr
        td
          img(src='img/One_only.jpg')
        td One only
        td
          ul 
            li Диетическое мясо кролика или индейки;
            li рис;
            li овес;
            li овощи;
            li зелень;
            li витамины и минералы.
        td 65
        td 612  
      tr
        td
          img(src='img/Advance.jpg')
        td Advance
        td
          ul 
            li Мясные ингредиенты (ягненок);
            li свекла;
            li кукуруза;
            li животный и рыбий жир.
        td 26
        td 530 
      tr
        td
          img(src='img/Brit.jpg')
        td Brit
        td
          ul 
            li Куриное мясо без костей;
            li куриный жир;
            li злаки;
            li яблоки;
            li пряные травы;
            li витамины и микроэлементы.
        td 50
        td 484
      tr
        td
          img(src='img/Choice.jpg')
        td 1st Choice
        td
          ul 
            li Куриное мясо;
            li коричневый рис;
            li экстракт зеленого чая;
            li экстракт цикория;
            li дрожжи;
            li витамины и микроэлементы.
        td 30
        td 1000  
      tr
        td
          img(src='img/Farmina_ND.jpg')
        td Farmina N D
        td
          ul 
            li Мясо ягнёнка;
            li яичный порошок;
            li картофель;
            li селедка;
            li сушеные овощи (морковь, горох);
            li витамины и микроэлементы;
            li сушеная черника и яблоки;
            li пивные дрожжи;
            li лекарственные травы (календула).
        td 51
        td 1075
      tr
        td
          img(src='img/Acana.jpg')
        td Acana
        td
          ul 
            li Мясо курицы и камбалы;
            li свежие яйца;
            li фрукты;
            li травы;
            li овощи (без картофеля).
        td 60
        td 1052
      tr
        td
          img(src='img/Bosch.jpg')
        td Bosch
        td
          ul 
            li Мясо курицы;
            li мясо ягненка;
            li просо;
            li яичный порошок;
            li кукуруза;
            li мука из мяса птицы;
            li куриный и рыбий жир;
            li горох;
            li дрожжи;
            li микроэлементы и витамины.
        td 30
        td 666
      tr
        td
          img(src='img/Monzh.jpg')
        td Monge
        td
          ul 
            li Мясо;
            li витамины;
            li микроэлементы.
        td 30
        td 750
      tr
        td
          img(src='img/Eukanuba.jpg')
        td Eukanuba
        td
          ul 
            li Мясо курицы и индейки;
            li сорго;
            li жир домашней птицы;
            li пшеница, рис;
            li сахарная свекла;
            li яйца;
            li рыбий жир;
            li семя льна.
        td 32
        td 748      
      tr
        td
          img(src='img/Orijen.png')
        td Orijen
        td
          ul 
            li Бескостная мякоть курицы;
            li мясная мука;
            li куриная печень;
            li селедка;
            li индейка;
            li овощи и травы.
        td 38
        td 2177
      tr
        td
          img(src='img/Avva.jpg')
        td Abba
        td
          ul 
            li Мясо ягненка и индейки;
            li рис;
            li горох;
            li кукуруза;
            li рыбий жир;
            li рыбная мука;
            li свекла;
            li цикорий;
            li витамины и минералы.
        td 70
        td 516
      tr
        td
          img(src='img/Hills.jpg')
        td Hills
        td
          ul 
            li Мясо курицы и индейки;
            li овощи;
            li рыба;
            li злаки;
            li жиров;
            li клетчатка;
            li витамины.
        td 25
        td 890
      tr
        td
          img(src='img/Dog_chau.jpg')
        td Dog chow
        td
          ul 
            li Зерновые;
            li субпродукты;
            li курица;
            li овощи;
            li цикорий;
            li животный жир.
        td 14
        td 403 
      tr
        td
          img(src='img/Pedegree.jpeg')
        td Pedigree
        td
          ul 
            li Кукуруза;
            li пшеница;
            li рис;
            li куриная и мясная мука;
            li свекольный жом;
            li растительное масло и животные жиры;
            li витамины и минералы.
        td 4
        td 227
      tr
        td
          img(src='img/Darsi.jpg')
        td Darsi
        td
          ul 
            li Мясная мука;
            li цельнозерновая пшеница;
            li печень;
            li масло кукурузное;
            li комплекс витаминов и минералов.
        td 20
        td 158
      tr
        td
          img(src='img/Royal_kanin.jpg')
        td Royal Canin
        td
          ul 
            li Рис;
            li дегидратированные белки животного происхождения (птица);
            li мука из зерновых культур;
            li изолят растительных белков;
            li пшеница;
            li животные жиры;
            li гидролизат белков животного происхождения (вкусоароматические добавки);
            li растительная клетчатка;
            li минеральные вещества;
            li рыбий жир;
            li соевое масло;
            li дрожжи и побочные продукты брожения;
            li фруктоолигосахариды.
        td 24
        td 632
      tr
        td
          img(src='img/Sirius.jpeg')
        td Sirius 
        td
          ul
            li Дегидрированное мясо (птица, ягненок);
            li рис;
            li кукуруза;
            li пшеница;
            li жир куриный;
            li гидролизованные мясные белки;
            li дрожжи сухие;
            li жир лососевый;
            li пробиотический комплекс;
            li автолизат пивных дрожжей;
            li пектиновый комплекс;
            li эхинацея;
            li ромашка; 
            li тыква сушеная;
            li сельдерей сушенный.
        td 34
        td 447    
      tr
        td
          img(src='img/Rodnye_korma.jpg')
        td Родные корма
        td
          ul 
            li Дегидрированное мясо (курица, индейка);
            li маис; 
            li пшеница; 
            li жир индейки;
            li диетические волокна;
            li дрожжи сухие; 
            li жир лососевый; 
            li пробиотический комплекс;
            li тыква сушенная;
            li яблоко сушенное;
            li лизин;
            li DL-метионин; 
            li минеральные вещества;
            li антиоксиданты;
            li комплекс витаминов.
        td 27
        td 483
      tr
        td
          img(src='img/Crave.jpg')
        td Crave
        td
          ul 
            li Курица (сухой белок курицы, свежая курица);
            li индейка (сухой белок индейки, гидролизат из индейки); 
            li домашняя птица; 
            li куриный жир; 
            li сухой белок домашней птицы; 
            li гороховый крахмал; 
            li картофель; 
            li чечевица;
            li гороховый белковый концентрат;
            li свекловичный жом;
            li тапиоковый крахмал; 
            li минеральные вещества;
            li подсолнечное масло; 
            li яблочный жом;
            li экстракт розмарина.
        td 60
        td 804
      tr
        td
          img(src='img/Savita.jpg')
        td Savita
        td
          ul 
            li Мясо (телёнка, ягнёнка, дикого кабана);
            li картофель;
            li зелёный горошек;
            li жир индейки;
            li витаминно-минеральный комплекс;
            li пивные дрожжи;
            li цельное яйцо;
            li пульпа сахарной свёклы;
            li яблоко;
            li морковь;
            li тыква;
            li льняное семя;
            li лососёвый жир;
            li черника;
            li ламинария;
            li куркума;
            li розмарин;
            li экстракт бархатцев прямостоячих;
            li цикорий;
            li таурин;
            li глюкозамин из животных тканей;
            li сульфат хондроитина;
            li юкка Шидигера.
        td 35
        td 712
      tr
        td
          img(src='img/TitBit.jpg')
        td TiTBiT
        td
          ul 
            li Мясо ягненка дегидрированное;
            li рис;
            li кукуруза;
            li мясо курицы дегидрированное;
            li мясо лосося дегидрированное;
            li яичный порошок;
            li куриный жир;
            li топленый говяжий жир; 
            li пивные дрожжи; 
            li гидролизат белков; 
            li сухая мякоть свеклы;
            li рыбий жир;
            li хелатный комплекс;
            li пробиотик OLIN; 
            li сухие травы (куркума, имбирь, крапива);
            li топинамбур сушеный и цикорий (источники фруктоолигосахаридов);
            li маннаноолигосахариды;
            li хондроитин;
            li глюкозамин;
            li натуральные антиоксиданты (смесь токоферолов и экстракт розмарина); 
            li витаминно-минеральный комплекс.   
        td 48
        td 457
      tr
        td
          img(src='img/Nasha_marka.jpg')
        td Наша марка
        td
            ul 
              li Пшеница;
              li кукуруза;
              li птичья мука;
              li подсолнечное масло;
              li минеральные добавки;
              li гидролизированная печень;
              li кукурузный глютен (экстракт белка растительного происхождения);
              li пульпа сахарной свеклы (жом);
              li сухие овощи;
              li витамины;
              li антиоксидант. 
        td 13
        td 220
      tr
        td
          img(src='img/Elato.jpg')
        td Elato
        td
          ul 
            li Мясо курицы;
            li мясо утки;
            li батат;
            li горох;
            li травы (женьшень);
            li витамины и минералы.
        td 68
        td 1104
      tr
        td
          img(src='img/Organix.jpg')
        td Organix
        td
          ul 
            li Дегидрированная курица;
            li маис;
            li рис;
            li куриный жир;
            li свекольный жом;
            li дегидрированная рыба;
            li семена льна;
            li кэроб;
            li пивные дрожжи;
            li минералы;
            li лососевый жир;
            li инулин (источник ФОС);
            li глюкозамин; 
            li хондроитин.   
        td 21.5
        td 516
      tr
        td
          img(src='img/Delicana_premium.jpg')
        td Delicana Premium
        td
          ul 
            li Дегидрированное мясо говядины;
            li рис;
            li ячмень;
            li гречка;
            li кукруза;
            li гидролизат печени (вкусоароматическая добавка;
            li жир индейки;
            li рыбий жир;
            li эктракт Юкии Шидигера;
            li витаминно-минеральный комплекс;
            li глюкозамин;
            li хондроитин;
            li пробиотический комплекс;
            li пребиотики;
            li люцерна;
            li шиповник.
        td 38
        td 2630
      tr
        td
          img(src='img/Every_day.jpg')
        td Каждый день
        td
          ul 
            li Отруби;
            li кукуруза; 
            li пшеница;
            li птичья мука;
            li шрот соевый;
            li усилитель вкуса;
            li минеральный премикс;
            li масло подсолночное;
            li свекольный жом;
            li говяжьи субпродукты;
            li премикс витаминный;
            li АОКС.
        td 3
        td 118
      tr
        td
          img(src='img/Blitz.jpg')
        td Blitz
        td
          ul 
            li Свежее мясо ягненка;
            li дегидрированное мясо лосося;
            li картофель;
            li крахмал зелёного горошка;
            li куриный жир; 
            li бобы;
            li горох;
            li льняное семя;
            li дрожжи;
            li сушёная мякоть свеклы;
            li морские водоросли;
            li сушёная мякоть цикория;
            li хлорид натрия;
            li фруктоолигосахариды;
            li продукты дрожжей;
            li юкка шидигера;
            li семена расторопши;
            li корень одуванчика;
            li сушёные цветки гибискуса;
            li сушёные плоды шиповника. 
        td 50
        td 1058
      tr
        td
          img(src='img/Dilli.jpg')
        td Дилли
        td
          ul 
            li злаки (кукуруза, пшеница, зародыш пшеничный, крупа рисовая, крупа овсяная);
            li мясная мука;
            li мясные продукты;
            li шрот соевый;
            li масло подсолнечное;
            li глютен кукурузный;
            li яичный порошок;
            li жиры животного происхождения;
            li рыбий жир, витамины;
            li микроэлементы;
            li консерванты и антиоксиданты. 
        td 10
        td 190
      tr
        td
          img(src='img/Holka.jpg')
        td Холка
        td
          ul 
            li Дегидрированное мясо индейки;
            li рис;
            li жир индейки стабилизированный;
            li мука льняная
            li гидролизат белков животного происхождения;
            li отруби пшеничные;
            li экстракт пивных дрожжей;
            li экстракт Юкии Шидигера.
        td 42
        td 637
      tr
        td
          img(src='img/Natural_trainer.jpg')
        td Natural trainer
        td
          ul 
            li Дегидрированный белок курицы и индейки;
            li кукуруза;
            li свежее мясо курицы и индейки;
            li рис;
            li животные жиры;
            li гидролизат животного белка;
            li дегидратированный белок итальянской сыровяленой ветчины;
            li пульпа сахарной свеклы;
            li льняное семя;
            li кукурузный глютен;
            li автолизат дрожжей;
            li дегидратированный рыбный белок;
            li минеральные вещества;
            li маннаноолигосахариды;
            li сухой экстракт цикория;
            li клетчатка гороха;
            li фруктоолигосахариды;
            li сухой экстракт Юкки Шидигера;
            li спирулина;
            li сухой экстракт цитрусовых;
            li сухой экстракт яблока.
        td 42
        td 600
      tr
        td
          img(src='img/Happy_dog.jpg')
        td Happy dog
        td
          ul 
            li Ячмень;
            li лосось;
            li белок из мяса кролика;
            li картофель;
            li птичий жир;
            li гидролизированный белок;
            li животный белок;
            li свекольная пульпа;
            li яблочная пульпа;
            li подсолнечное масло;
            li маис;
            li хлорид калия;
            li дрожжи;
            li хлорид натрия;
            li рапсовое масло;
            li цуккини;
            li семена льна;
            li сухое цельное яйцо;
            li масло моллюска;
            li расторопша;
            li Юкка Шидигера;
            li артишок;
            li одуванчик;
            li имбирь;
            li березовый лист;
            li крапива;
            li ромашка;
            li кориандр;
            li розмарин;
            li шалфей;
            li корень солодки;
            li тимьян.
        td 50
        td 1810
      tr
        td
          img(src='img/Oskar.jpg')
        td Оскар
        td
          ul 
            li Мука мясная;
            li цельнозерновая пшеница;
            li продукты растительного происхождения;
            li кукуруза;
            li масло кукурузное;
            li свекольная пульпа;
            li гидролизованные мясные продукты;
            li витаминно-минеральный комплекс;
            li семена льна;
            li дрожжи;
            li яблоко;
            li антиоксидант;
            li экстракт розмарина.
        td 8
        td 154
      tr
        td
          img(src='img/Florida.jpg')
        td Флорида
        td
          ul 
            li Дегидрированное мясо курицы;
            li рис;
            li маис;
            li куриный жир;
            li гидролизованная куриная печень;
            li отруби;
            li масло лососевых пород;
            li минеральные вещества;
            li пивные дрожжи;
            li сушёное яблоко;
            li сушёная мякоть свёклы;
            li семя льна;
            li витамины;
            li ламинария;
            li сушёная ромашка;
            li черника;
            li глюкозамин;
            li инулин;
            li хондроитин;
            li таурин.
        td 30
        td 496   
      tr
        td
          img(src='img/Winner.jpg')
        td Winner Мираторг
        td
          ul 
            li Кукруза;
            li мясо курицы;
            li рис;
            li пшеница;
            li животный жир;
            li выкушенная мякоть свеклы;
            li гидролизат белка животного происхождения;
            li семя льна;
            li минеральные вещества;
            li соль;
            li витамины;
            li дрожжи пивные;
            li лососевый жир.
        td 32
        td 376
      tr
        td
          img(src='img/Chammy.jpg')
        td Chammy
        td
          ul 
            li Зерновые культуры и продукты их переработки;
            li мясная мука;
            li животные жиры и масла;
            li кукурузный глютен;
            li пульпа сахарной свеклы;
            li дрожжи сухие;
            li миниральные вещества;
            li витамины;
            li метионин.
        td 2
        td 150
      tr
        td
          img(src='img/Buffalo.jpg')
        td Mr.BUFFALO
        td
          ul 
            li Дегидрированное мясо курицы;
            li цельнозерновой рис;
            li маис;
            li жир куриный;
            li пульпа сахарной свеклы;
            li витаминно-минеральный премикс;
            li гидролизованные мясные продукты;
            li семена льна;
            li дегидрированное яйцо;
            li масло кукурузное;
            li дрожжи;
            li L-лизин;
            li антиоксидант;
            li пребиотик MacroGard;
            li клюква
            li экстракт розмарина
            li экстракт фенхеля
            li экстракт морских водорослей
            li экстракт юкки Шидигера.
        td 35
        td 573 
      tr
        td
          img(src='img/Clan_classic.jpg')
        td Clan classic
        td
          ul 
            li Дегидрированное мясо индейки;
            li дегидрированное мясо утки;
            li бурый рис;
            li утиный жир;
            li сушеная мякоть сахарной свеклы;
            li льняное семя;
            li пивные дрожжи;
            li натуральные вкусоароматические добавки;
            li рыбий жир;
            li масло подсолнечное;
            li витаминноминеральный комплекс;
            li микроэлементы;
            li клюква;
            li экстракт Юкка Шидигера;
            li лизин;
            li метионин;
            li натуральный антиоксидант;
        td 383
        td 30
      tr
        td
          img(src='img/AlpaPet.jpg')
        td AlphaPet
        td
          ul 
            li Свежее мясо ягненка;
            li свежее мясо индейки;
            li свежее мясо курица;
            li дегедрированное мясо домашней птицы;
            li рис;
            li ячмень;
            li овес;
            li гидролизированная куриная печень;
            li животный жир;
            li желтый горошек;
            li витаминно-минеральная смесь;
            li сушеная мякоть сахарной свеклы;
            li пивные дрожжи;
            li комплекс AlphaPe-BIO;
            li рыбий жир;
            li таурин;
            li DL-метионин;
            li антиоксидант.
        td 49
        td 690
      tr
        td
          img(src='img/Nero Gold.jpg')
        td Nero Gold
        td
          ul 
            li Мясо курицы;
            li маис;
            li цельный рис;
            li куриный жир;
            li мякоть свеклы;
            li рыбная мука;
            li кэроб;
            li льняное семя;
            li куриная печень;
            li пивные дрожжи;
            li гидролизат хряща;
            li гидролизат ракообразных;
            li L-каратин;
            li лецитин;
            li инулин;
            li таурин;
            li минералы и витамины.
        td 23
        td 536
      tr
        td
          img(src='img/Best_dinner.jpg')
        td Best Dinner
        td
          ul  
            li Дегидрированное мясо индейки;
            li мясо ягненка;
            li рис;
            li ячмень;
            li хлопья овсяные;
            li мука из говядины;
            li жир птицы;
            li гидролизованные мясные белки;
            li витаминно-минеральный комплекс;
            li дрожжи сухие;
            li лососевое масло;
            li томаты сушеные;
            li глюкозамин;
            li корень цикория сушеный;
            li экстракт юкки Шидигера;
            li розмарин;
            li хондроитин.
        td 40,6
        td 607
      tr
        td
          img(src='img/Gemon.jpg')
        td Gemon
        td
          ul 
            li Злаки (рис);
            li мясо и мясные субпродукты;
            li масла и жиры;
            li гидролизованный белок животного происхождения;
            li рыба и рыбные субпродукты;
            li свекольная пульпа;
            li пивные дрожжи;
            li минеральные вещества;
            li экстракт каштана;
            li экстракт юкка Шидигера;
            li фруктоолигосахариды;
            li холина хлорид;
            li витамин Е.
        td 25
        td 488
      tr
        td
          img(src='img/Zoogurman.jpg')
        td Зоогурман
        td
          ul 
            li Дегидрированное мясо телятины;
            li дегидрированное мясо птицы;
            li кукуруза;
            li пшеница;
            li животные жиры;
            li растительная клетчатка;
            li гидролизованные животные белки;
            li пивные дрожжи;
            li лососевый жир;
            li витаминно-минеральный комплекс;
            li пробиотики;
            li DL-метионин;
            li L-цистеин;
            li L-лизин;
            li L-карнитин;
            li плоды шиповника;
            li экстракт Юкка Шидигера;
            li антиоксиданты.
        td 20
        td 684
      