body
	background-color: #fff9f1

.menuFlex
	display: flex
	justify-content: center
	align-items: center
	background-color: #005934
	font-weight: bold
	& a
		color: #FFFFFF
		text-decoration: none
		font-size: 25
		&:hover
			color: #c7ad81
	& .menuItem	
		text-align: center
		margin-left: 20px
		margin-right: 20px
	img 
		display: block
		margin: auto
		width: 40px


.mainGrid
	width: 75%
	height: 600px
	margin: 10px auto
	margin-bottom: 100px
	display: grid
	grid-template-rows: repeat(8, 1fr)
	grid-template-columns: repeat(14, 1fr)
	align-items: center

.first
	grid-area: 2 / 2 / 5 / 4
	overflow: hidden
	& img
		width: 100%

.second
	grid-area: 4 / 1 / 6 / 3
	overflow: hidden
	& img
		width: 100%

.third
	grid-area: 2 / 7 / 3 / 8
	overflow: hidden
	& img
		width: 100%

.fourth
	grid-area: 3 / 12 / 5 / 13
	overflow: hidden
	& img
		width: 100%

.fifth
	grid-area: 7 / 3 / 9 / 6
	& img
		height: 100%

.sixth
	grid-area: 7 / 12 / 9 / 15
	overflow: hidden
	& img
		height: 100%

.seventh
	grid-area: 3 / 6 / 7 / 11
	text-align: center
	font-size: 40
	color: #c8ad81
	font-weight: bold

.eighth
	grid-area: 8 / 8 / 9 / 10
	overflow: hidden
	& img
		height: 100%

.ninth
	grid-area: 4 / 13 / 6 / 15
	overflow: hidden
	& img
		width: 100%

.tenth
	grid-area: 1 / 13 / 4 / 15
	overflow: hidden
	& img
		width: 100%


.textRedFlex
	display: flex
	align-items: center
	justify-content: center
	color: #ffffff
	background-image: url("red_bg.png") 
	background-position: center
	background-repeat: no-repeat
	margin-bottom: 100px

.textFlex
	margin-top: 20px
	margin-bottom: 20px
	padding-left: 100px
	display: flex
	color: #ffffff
	width: 45%
	font-size: 25

.textGreenFlex
	display: flex
	align-items: center
	justify-content: center
	color: #ffffff
	background-image: url("green_bg.png") 
	background-position: center
	background-repeat: no-repeat
	margin-bottom: 50px

h1
	text-align: center
	color: #c8ad81

.main
	text-align: center
	font-size: 20
	width: 60%
	margin: 0px auto

.flexButton
	margin-top: 30px
	display: flex
	justify-content: space-around

.list
	color: #c8ad81
	font-size: 22

form
	display: inline-block

#list_buttom
	margin: 0 auto
	display: inline-block
	height: 30px
	text-align: center
	text-decoration: none
	color: #FFFFFF
	background: #c8ad81
	border: 1px solid black

table
	background: #FFFFFF
	border-spacing: 0px
	width: 100%
	border-buttom: 1px solid #c8ad81
	border-left: 1px solid #c8ad81
	border-right: 1px solid #c8ad81
	img
		width: 300px
	th
		border-top: 1px solid #c8ad81
		border-buttom: 1px solid #c8ad81
		text-align: center
		font-size: 20
		color: #c8ad81
	td 
		text-align: center
		border-top: 1px solid #c8ad81
		border-buttom: 1px solid #c8ad81
	li
		text-align: left

.afd
	margin: 10px auto
	color: #c8ad81
	font-size: 40

.kps
	color: #c8ad81
	font-size: 30

.cal_list
	display: inline-block
	margin-top: 20px
	font-size: 20
	option
		font-size: 20	
		
.count
	margin-top: 0px
	font-size: 20
	input
		margin-bottom: 20px
		display: block
		height: 30px
		text-decoration: none
		color: #FFFFFF
		background: #c8ad81
		border: 1px solid black

.count_text
	font-size: 20
	margin-buttom: 0px

.af 
	font-size: 20

.input
	img
		display: block
		width: 180px
	input 
		width: 30px
		background-color: #fff9f1
		font-size: 40
		border: 0px
		margin-left: 70px


@media (max-width: 1000px)
	.menuFlex
		flex-direction: column 
	.mainGrid
		display: flex
		flex-direction: column
		img
			margin-top: 20px
			width: 100%

